#container {
	position:absolute;
	left:0;top:0;bottom:0;right:0;
}
#map {
height:100%;
}
#float {
	position:absolute;
	right:0;
	top:1em;
	margin:1em;
	border:1px solid #f00;
	background:#fff;
	opacity:.6;
}
.label span {
	font-family:menomonia,serif;
	position: relative;
	left: -50%;
	white-space: nowrap; color:white;line-height:60%;text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;display:block;text-align:center;
}
.label small{
	opacity:.7;
}
.label-hide-small small{
	display:none;
}
.label-clickable img, .label-clickable i {
	cursor:pointer;
}
.label-clickable img {
	min-width:40px;
}